* {
    margin: 5px;
    padding: 5px;
    background-color: greenyellow;
}

p{
    font-family:'Times New Roman', Times, serif;
    color: navy;
}

a{
    text-decoration: none;
}

a:hover{
    color:blueviolet;
}